@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


header{
    background-color: black;
    display: block;
    align-items: center;
    padding: 1vw;
    width: 90%;
}

body {
    display: block;
}
